<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileLeagueHacking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E18975B21E333CC100CA4FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E18975C81E333CC200CA4FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E18975D31E333CC200CA4FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
